.header {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-areas: "menu logo address";
  justify-items: center;
  align-items: center;
  margin: 92px 24px 96px;
  font-size: 18px;
}

.header__menu {
  grid-area: menu;
}

.header__links-list {
  display: flex;
  justify-content: center;
  line-height: 22px;
  list-style: circle;
  padding: 4px 13px 0 0;
}

.header__links-list-item {
  margin: 0 0 0 30px;
  letter-spacing: 1%;
}

.header__links-list-item a {
  display: inline-block;
  padding: 0 0 0 4px;
  width: 100%;
  text-decoration: none;
}

.header__links-list-item a span {
  border-bottom: 1px solid black;
}

.header__links-list-item_no-bullit {
  margin-left: 0;
  list-style: none;
  line-height: 21px;
}

.header__links-list-item_no-bullit a {
  letter-spacing: 0;
  text-decoration: none;
}

.header__links-list-item_no-bullit a span {
  border: none;
}

.header__logo {
  display: flex;
  grid-area: logo;
  width: 148px;
  height: 105px;
}

.address {
  grid-area: address;
  line-height: 24px;
  padding: 2px 0 0 122px;
}

.link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.cover {
  position: relative;
  margin-bottom: 182px;
  background: url(../images/cover.jpg) no-repeat center / cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 164px 50px 129px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  text-align: start;
}

.aligned-text_center {
  display: block;
  align-self: center;
  margin: 10px 30px 0 0;
  text-align: center;
}

.aligned-text_right {
  display: block;
  margin: 0 -30px 0 0;
  padding: 2px 0 0 0;
  text-align: end;
}

.title__end,
.title__start {
  letter-spacing: 60px;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 50px 0;
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-transform: uppercase;
}

.cover__description-text {
  font-weight: lighter;
  line-height: 28px;
  word-spacing: 17px;
  padding: 0 0 0 35px;
}

.bet-button {
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 31px;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: lighter;
  text-transform: uppercase;
  font-weight: lighter;
  background: transparent;
  cursor: pointer;
  margin: 0 12px 0 0;
}

.lots {
  margin: 0 24px 148px;
}

.lots__heading {
  margin: 0 0 28px 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  margin: 0 0 28px 0;
  list-style-type: none;
}

.lots__card-list-item {
  position: relative;
  z-index: 2;
  flex-grow: 1/3;
  width: 334px;
  min-height: 563px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 51px 40px;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) no-repeat center / cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) no-repeat center / cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) no-repeat center / cover;
}

.card__title {
  position: relative;
  z-index: 2;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  margin: 0 0 0 40px;
  font-size: 20px;
}

.about {
  display: flex;
  margin: 0 24px 180px;
}

.about__column_left {
  min-width: 334px;
  min-height: 563px;
  margin: 0 24px 0 0;
}

.about__column_right {
  padding: 0 10px 0 0;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  margin: 35px 0 0 47px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: auto;
}

.about__title {
  margin: 136px 0 100px 0;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: normal;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: lighter;
}

.about__column_right p:nth-of-type(1) {
  margin: 0 0 23px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 88px;
}

.address__footer {
  padding-left: 0;
}

.footer__address {
  font-size: 18px;
  line-height: 24.3px;
}

.footer__menu {
  margin: 0 0 0 37px;
  font-size: 18px;
  text-align: center;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-link_active {
  border: none;
}

.footer__social-list {
  display: flex;
  column-gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}