.header {
  margin: 92px 24px 96px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "menu logo . . address";
  align-items: center;
  justify-items: center;
  font-size: 18px;
  line-height: 24.3px;
  font-weight: 400;
}

.header__menu {
  grid-area: menu;
}

.header__links-list {
  list-style: circle inside;
  display: flex;
  justify-content: centern;
  line-height: 21px;
}

.header__links-list-item {
  margin-left: 13px;
  letter-spacing: 1%;
}

.header__links-list-item_no-bullit {
  list-style: none;
  margin-left: 0;
}

.header__links-list-item_no-bullit a {
  text-decoration: none;
  letter-spacing: 0;
}

.header__logo {
  display: flex;
  width: 148px;
  height: 105px;
  grid-area: logo;
}

.address {
  grid-area: address;
  grid-column: 4 / -1;
}

.address a {
  letter-spacing: 1%;
}

.cover {
  background: url(../images/cover.jpg) no-repeat center / cover;
  position: relative;
}

.overlay {
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cover__title {
  font-size: 100px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 30px;
  margin: 165px 50px 237px;
  display: flex;
}

.aligned-text {
  display: block;
  text-align: start; 
}

.aligned-text_center {
  display: block;
  text-align: center;
}

.aligned-text_right {
  display: block;
  text-align: end;
}
