.header {
  margin: 92px 24px 96px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "menu logo . . address";
  align-items: center;
  justify-items: center;
  font-size: 18px;
  line-height: 24.3px;
}

.header__menu {
  grid-area: menu;
  justify-items: stretch;
}

.header__links-list {
  list-style: circle inside;
  display: flex;
  justify-content: centern;
 
  
}

.header__links-list-item {
  margin-left: 13px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  margin-left: 0;
}

.header__links-list-item_no-bullit a {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 145px;
  height: 105px;
  grid-area: logo;
}

.address {
  grid-area: address;
  grid-column: 4 / -1;

}